<div class="centered" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), url('https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D'); background-size: cover">

  <div class="row">
    <div class="col-sm">
      <%= simple_form_for @user do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :phone_number %>
        <%= f.input :biography %>
        <%= f.button :submit, class: 'btn btn-info' %>
      <% end %>
    </div>
  </div>

</div>
