<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <%= link_to 'Hexaworking', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to 'Sign up', new_user_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Login', login_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Dashboard', dashboard_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Logout', logout_path, method: :delete, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
